<body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="https://skillspire.net/">Skill Spire</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://skillspire.net/courses/">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Message your Instructor</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Practice Algorithms</a>
                </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../../assets/img/backend.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Coding Bootcamp</h1>
                <p>Reinvent Yourself. Learn to Code.Affordable, Accessible Tech Training for Women and Minorities.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="../../assets/img/cybersecurity.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Cyber Security for Software Engineers</h1>
                <p>Ready to reinvent yourself and learn all about cyber security? Please fill out an application so that we can learn more about you and determine if this course is the best fit for you and your goals. As soon as we receive your application, we’ll be in contact.</p>
                <p><a class="btn btn-lg btn-primary" href="https://skillspire.net/product/software-engineers-cyber-security-course-bellevue-2018-10-23/" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="../../assets/img/new-big-data-image.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Full Stack Web Development – Bellevue</h1>
                <p>The average salary of a full stack developer in the Seattle area is more than $100K, according to Glassdoor. In this Coding Bootcamp, you will learn some of the most highly marketable and in-demand skills. Learn how to build your own web applications using HTML, CSS, JavaScript and JavaScript frameworks such as jQuery, Node.js, Express, and Mocha.</p>
                <p><a class="btn btn-lg btn-primary" href="https://skillspire.net/product/full-stack-web-development-course-bellevue-2018-10-20/" role="button">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
          <h1>Meet your Instructors</h1>
          <br>

        <!-- Three columns of text below the carousel -->
        <div class="row">
           
          <div class="col-lg-4">
            
            
            <img class="rounded-circle" src="../../assets/img/Farhad-Ahmed.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Farhad Ahmed</h2>
            <p>Farhad Ahmed is a software engineer who currently works at Comcast Technology Solutions. Farhad has been an instructor with Skillspire since January 2017.</p>
            <p><a class="btn btn-secondary" href="https://skillspire.net/our-instructors/" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/img/Samia-Ahmed.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Samia Ahmed</h2>
            <p>Samia Ahmed is a full stack developer who currently works as a freelance web developer. Samia has been an instructor with Skillspire since June 2018.</p>
            <p><a class="btn btn-secondary" href="https://skillspire.net/our-instructors/" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/img/Anwar-Hossain.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Anwar Hossain</h2>
            <p>Anwar Hossain is an enterprise architect and data scientist who currently works at Funko. Anwar has been an instructor with Skillspire since September 2017.</p>
            <p><a class="btn btn-secondary" href="https://skillspire.net/our-instructors/" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">SkillSpire in the news at GeekWire </h2>
            <p class="lead">Lisa Stiffler at GeekWire.com featured SkillSpire in her Startup Spotlight column on July 9th! Startup Spotlight: Skillspire helps immigrants build tech skills in a supportive environment Many immigrants end up driving for ride-sharing companies, working low-paying jobs in health services and performing other physical tasks — even when they have computer skills from their home countries…</p>
            <p><a class="btn btn-secondary" href="https://skillspire.net/in-the-news/skillspire-in-the-news-at-geekwire/" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../assets/img/GeekWire-logo-transparent.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Am I a Good Fit for Data Science?</h2>
            <p class="lead">In the last blog post, we talked about the differences between data scientists, data engineers, and data analysts. This week we’ll be looking generically at the industry of data science and one of the questions we hear most often: am I a good fit? Specifically, people are wondering if they have the right skills and…</p>
            <p><a class="btn btn-secondary" href="https://skillspire.net/blogs/am-i-a-good-fit-for-data-science/" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="../../assets/img/data-science-2.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">What’s the Difference Between a Data Analyst, a Data Engineer, and a Data Scientist</h2>
            <p class="lead">Data, data, data…. there’s so much being generated daily in our modern world. Not just in the form of posts, stories, and links on the Internet, but also all those fancy, new job titles. Data Engineer. Data Analyst. Data Scientist. What’s the difference? Does one lead to another? What kind of skills, education, and experience…</p>
            <p><a class="btn btn-secondary" href="https://skillspire.net/blogs/am-i-a-good-fit-for-data-science/" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../assets/img/codecode-e1513978813552.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Skillspire, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>